.card-widget.card-clock
 .card-glass
  .card-background
   .card-content
    #clock
      img(v-if='clockshow == "false"', src='/clock/images/weather/loading.gif', style='height:120px;width:100%')
      table.clock(v-if='clockshow')
        tbody
          tr
            td.clockdate {{date}}
            td.weatherimg(align="center" valign="middle")
              img#weatherimg(:src='weatherimg')
            td.temperature(align="center" valign="middle") {{temperature}}
            td.humidityimg
              img#humidityimg(:src='humidityimg')
            td.humidity {{humidity}}
          tr.time
            td(colspan='5') {{time}}
          tr
            td.usaqi(colspan='1') 
             span {{ip}}
            td.city(colspan='2') {{city}}
            td.daylight(colspan='2') {{daylight}}